.container {
  margin-top: 310px;
  padding: 10px;
}
.docpic {
  border-radius: 50%;
}
.meet {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.payment {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}

.bookbtn {
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #c7ffed !important;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}
.bookbtn:hover {
  background-color: #0a2e36 !important;
  color: white;
  cursor: pointer;
}
.name {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
@media (max-width: 600px) {
  .container {
    margin-top: 180px;
    padding: 10px;
  }
}