.detail {
  margin: 30px auto;
  width: 70vw;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;

  line-height: 1.7;
  position: relative;
  top: 290px;
}
.image {
  border-radius: 50%;
}

.fullname {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.specialty {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}
.desc {
  font-family: "Martel", serif;
  font-weight: 400;
  font-size: 18px;
  width: 95%;
}
.avail {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.price {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}
.days {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-evenly;
  font-size: 18px;
}
.daybtn {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 80px;
  height: 40px;
  background-color: #c7ffed;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.daybtn:hover {
  background-color: #0a2e36;
  color: white;
  cursor: pointer;
}
.back {
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #c7ffed;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}

.back:hover {
  background-color: #0a2e36;
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .desc {
    font-family: "Martel", serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .avail {
    margin-top: 20px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  .days {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: left;
    justify-content: center;
    padding-right: 20px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  .daybtn {
    width: 100%;
    height: 40px;
    background-color: #c7ffed;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .daybtn:hover {
    background-color: #0a2e36;
    color: white;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .detail {
    top: 170px;
  }
  .back,
  .back:hover {
    bottom: 0px;
    right: 0px;
  }
}
