.detail {
  margin: 30px auto;
  width: 70vw;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;

  line-height: 1.7;
  position: relative;
  top: 150px;
}
.image {
  border-radius: 50%;
}

.fullname {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.specialty {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.desc {
  font-family: "Martel", serif;
  font-weight: 400;
  font-size: 18px;
}
.avail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.price {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.days {
  width: 100%;
  margin: 5px;
  display: flex;
  /* padding: 5px;
  margin: 5px; */
  /* border: 10px;
  flex: 1 1 auto; */
  flex-direction: row;
  justify-content: center;
}
.daybtn {
  /* height: 25px; */
  /* position: absolute; */
  /* bottom: 10px; */
  /* right: 10px; */
  width: 60px;
  background-color: #c7ffed;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}

.daybtn:hover {
  background-color: #0a2e36;
  color: white;
  cursor: pointer;
}
.back {
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #c7ffed;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}

.back:hover {
  background-color: #0a2e36;
  color: white;
  cursor: pointer;
}