.doctor {
  margin: 30px auto;
  width: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;

  line-height: 1.7;
  position: relative;
  top: 250px;
}
.doctor:hover {
  margin: 30px auto;
  width: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0a2e36;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;

  line-height: 1.7;
  position: relative;
  top: 250px;
  transform: scale(1.05);

  cursor: pointer;
}

.doctorname {
  font-size: 25px;
}
.doctorimage {
  margin-right: 10px;
  border-radius: 50%;
}

.button {
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #c7ffed;
  color: black;
  font-size: 15px;
  border: none;
  border-radius: 8px;
}

.button:hover {
  background-color: #0a2e36;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .doctor,
  .doctor:hover {
    top: 170px;
  }
}