.filter {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 250px;
}
.selectbox {
  display: block;
  font-size: 15px;
  margin: 10px;
  height: 30px;
  width: 150px;
  /* border: 1px solid #0a2e36; */
  border-radius: 5px;
}
@media (max-width: 600px) {
  .filter {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 150px;
  }
}
