.title {
  background-color: #0a2e36;
  width: 100%;
  text-align: center;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  cursor: pointer;
}

.logo {
  max-width: 100%;
  height: auto;
}
